<p id="notice"><%= notice %></p>

<p>
  <b>Event name:</b>
  <%= @event.event_name %><br />
  <b>Event description:</b>
  <%= @event.event_description %><br />
  <b>Event categories:</b>
  <%= @event.event_categories %><br />
  <p>
	<b>Schedule:</b><br />
	<b>Start Time:</b>
	<%= @event.schedule.start_time %><br />
	<b>End Time:</b>
	<%= @event.schedule.end_time %><br />
  </p>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
