<p id="notice"><%= notice %></p>

<h2>Event: <%= @event.name %></li></h2>

<ul>
  <li>Description: <%= @event.description %></li>
  <li>Categories: <%= @event.categories %></li>
	<li>Schedule:</li>
	<ul>
    <li>Start Time:	<%= @event.schedule.start_time %></li>
	  <li>End Time:	<%= @event.schedule.end_time %></li>
  </ul>
</ul>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
